@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F1F4FC;
    --primary: #0B1728;
    --primary-translucent: #AEB8D3;
    --warning: #DC5D5D;
    --secondary: #4E5C6F;
    --tertiary: #536471;
    --placeholder: #4C516B;
    --accent-green: #59E337;
    --accent-green-2: #476323;
    --secondary-background: #D9DDE8;
    --accent-orange: #D4864E;
    --form-border: #3C3E43;
}

.darkMode {
    --background: #0F1115; 
    --primary: #FFF;
    --primary-translucent: #3C3E43;
    --warning: #BF4D4D;
    --secondary: #848AA9; 
    --tertiary: #536471;
    --placeholder: #AFAFAF;
    --accent-green: #77FF54;
    --secondary-background: #1B1E23; 
    --accent-orange: #FF7A1A;
    --form-border: #3C3E43;
}

html {
    @apply h-full w-full bg-background;
    font-family: "Inter", sans-serif;
}

body {
    @apply h-full w-full overflow-hidden text-primary
}

#__next {
    @apply h-full w-full
}

::-webkit-scrollbar {
    @apply appearance-none w-[8px] h-[8px]
}

::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-full
}