@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0D0D0D;
    --primary: white;
    --primary-translucent: #fff3;
    --warning: #BF4D4D;
}

html {
    @apply h-full w-full bg-background
}

body {
    @apply h-full w-full overflow-hidden text-primary
}